<h1>Episode Number: <%= @episode.number %><h1>
<br>
<br>
<h1>Episode Date: <%= @episode.date %></h1>
<br>
<br>
<h2>Guests: 
<ul>
<% @guests.each do |guest| %>
   <li><%= link_to guest.name, guest_path(guest) %></li>
</ul>
<% end %>
</h2>